@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Poppins', sans-serif;}

body {
  border-left: 10px solid black;
  border-right: 10px solid black;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Poppins', sans-serif;
  }

.header {
  height: 4em;
  background-color: #000000;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app-title {
  display: flex;
}

.app-name {
  font-size: xx-large;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

/* Navbar links */
.topnav a {
  display: block;
  float: left;
  position: relative;
  color: #000000;
  padding: 10px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #000000;
  color: #ffffff;

}

.textbox {
  width: 300px;
  height: 150px;
} 

li,a,p,button {
  font-family: 'Poppins', sans-serif;
  color: black;
  text-decoration: none;
  list-style: none;
}

button {
  border-radius: none;
  padding: 5px 5px;
  background: white;
  border: 1px solid black;
  font-size: 12px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.latest-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.latest-grid-item {
  flex-basis: calc(30% - 10px);
  margin: 20px 0;
  border: 2px solid black;
}

form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.latest-grid-item h2,h3,h4,h5,p,hr,button {
  margin: 1rem ;
  
}

.latest-grid-item h3 {
  color: #aaa;
}

.latest-grid-item img {
  width: 100%;
  height: 200px;
}

.latest {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  text-transform: uppercase;
}

.artist-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.artist-details {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .latest-grid-item {
      flex-basis: calc(45% - 10px);
  }
}

@media (max-width: 550px) {
  .latest-grid-item {
      flex-basis: 100%;
  }
}


/* .artist-image {
  display: flex;
  margin-left:33%;
  max-width: 450px;
  max-height: 450px;
} */

/* .column {
  float: left;
  width: 25%;
  padding: 5px 5px 5px 80px;
  background-color: rgb(246, 177, 209);
}

.show-info {
  margin-left: 38%
} */

/* .artist {
  color:rgb(0, 0, 0);
  display: inline-flex;
  font-size: medium;
  flex-direction: column;
  justify-content: space-around;
  height:17%;
  width: 28%;
  border: 5px solid rgb(246, 177, 209);
  border-radius: 5px; 
  ont-size: 13px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}  */